@import "tailwindcss";

:root {
  font-family: "Libre Baskerville", serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  font-optical-sizing: auto;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
